/**
 * Copyright eLearning Brothers LLC 2012 All Rights Reserved
 */

:focus {outline: 0; }
div.buttons {
    padding-top: 20px;
    text-align: center;
    clear: both;
    width: 100%;
}
div.game {
    background: url("ttr_bg.jpg") 100% 100% no-repeat;
    width: 720px;
    height: 540px;
    background-size: cover;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0;
    position: relative;
    overflow: hidden;
}


.step-0{
    background: url("ttr_bg.jpg") 100% 100% no-repeat;
    width: 720px;
    height: 540px;
    background-size: cover;
    
}

div.logo3,
div.logo2,
div.logo1 {
    background: 50% 50% no-repeat;
    width: 0px;
    height: 0px;
    background-size: cover;
    position: absolute;
}

a.button {
    cursor: pointer;
    display: inline-block;
    color: white;
    background: #3787e0;
    border-radius: 8px;
    line-height: 35px;
    height: 35px;
    font-size: 1.5em;
    padding: 4px 50px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);

     position: relative;
    z-index: 100;

    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7),  0 2px 5px rgba(0,0,0,0.15), inset 0 -17px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7),  0 2px 5px rgba(0,0,0,0.15), inset 0 -17px 0 rgba(0,0,0,0.10);
    box-shadow: 0 0 10px rgba(0,0,0,0.7),  0 2px 5px rgba(0,0,0,0.15), inset 0 -17px 0 rgba(0,0,0,0.10);

}

a.button:hover {
    color: white;
    background: #3787e0;
}

a.button:active {
    top:1px;
    left:1px;
}

div.game>div {
    display: none;
}

div.game.step-0>div.step-0,
div.game.step-1>div.step-1,
div.game.step-2>div.step-2,
div.game.step-3>div.step-3,
div.game.step-4>div.step-4,
div.game.step-5>div.step-5 {
    display: block;
}

/* STEP 1 */
/* STEP 2 */
div.game div.step-2 {

}
div.step-2-description {
    padding: 10px;
    background: white;
    border: 5px solid #CCC;
    margin: 0 auto;
    width: 600px;
    height: 290px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);

}
/* STEp 3*/

div.game div.score {
    color: red;
    font-weight: bold;
    font-size: 24px;
    z-index: 100;
    position: relative;
}
div.game div.time {
    color: red;
    font-weight: bold;
    font-size: 30px;
    z-index: 100;
    position: relative;
}

/* STEP 4 */
.step-4.answered .question-choose-wrapper {
    display: none;
}
.step-4 .buttons.buttons-confirm,
.step-4.unanswered .buttons.buttons-continue,
.step-4.unanswered .question-answered-block-wrapper{
    display: none;
}
.step-4.unanswered.type-multiple .buttons.buttons-confirm {
    display: block;
}
.step-4.answered.incorrect .question-answered-block-wrapper h1{
    color: #FF5555;
}
.step-4.answered.correct .question-answered-block-wrapper h1{
    color: #55FF55;
}

.question-answered-block-wrapper {
    background: white;
    width: 300px;
    height: 232px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    float: left;
    margin-top: 0px;
}
.vertical .question-answered-block-wrapper {
    margin: 0 auto;
    margin-top: 0px;
    float: none;
}

.question-choose-wrapper {
    float: left;
    margin-top: 0px;
}
.vertical .question-choose-wrapper {
    float: none;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
}
.vertical .question-choose {
    text-align: center;
    margin: 0 auto;
}
.vertical .question-choose .variant {
    float: none;
    display: inline-block;
    text-align: left;
    margin: 5px;
}
.question-choose .variant {
    padding-left: 10px;
    background: white;
    height: 60px;
    width: 300px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
    cursor: pointer;

    display: block;
}
.question-choose .variant div.table {
    display: table;
    height: 100%;
    width: 100%;
    padding:0px 15px;
    text-align: left;
    margin: 0px auto;
}
.question-choose .variant div.table div {
    display: table-cell;
    vertical-align: middle;
}
.question-choose .variant div.table div div {
    width: 1%;
}

.question-block-wrapper {
    margin-top: 00px;
    margin-left: 25px;
    margin-right: 25px;
    float: left;
}
.vertical .question-block-wrapper {
    float: none;
}
div.game .question-block-wrapper.transparent {
    background: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
div.game .question-block-wrapper.transparent>div>div {
   /* display: none;*/
}
div.game .question-block-wrapper.transparent>div.question-block-wrapper-inner {
    background: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.question-block-wrapper>div.question-image {
    background-size: cover;
    position: absolute;
}
.question-block-wrapper>div.question-image,
.question-block-wrapper>div.question-block-wrapper-inner {
    background:  0 0 no-repeat;
    width: 300px;
    height: 262px;
}
.question-block-wrapper.vertical>div.question-image,
.question-block-wrapper.vertical>div.question-block-wrapper-inner {
    width: 600px;
    height: 100px;
    margin: 0 auto;
}

.question-block-wrapper>div.question-block-wrapper-inner {
    background-size: cover;
}
/* STEP 5 */
.result-block-wrapper {

    background: white;
    width: 600px;
    margin: 0 auto;
    height: 290px;
    border: 5px solid #ccc;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);

    margin-top: 50px;
}
div.result-block div.score-description {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    position: absolute;
    bottom: 10px;
    right:50px;
}

div.result-block div.score-description span{
    font-size: 32px;
    color: #fecb01;
}
.progressbar {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
}
.progressbar>div {
    float: left;
}


/* BOARDGAME */
div.scoreboard {
    position: absolute;
    width: 720px;
}
div.board-item {
    position: absolute;
}
div.board {
    position: absolute;
    width: 720px;
    height: 540px;
}
div.board-small {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    background: url('../config/images/item_blue.png') 0 0 no-repeat;
    width: 60px;
    height: 60px;
    background-size: cover;
}
div.board-small span {
    display: block;
    line-height: 60px;
    height: 48px;
    margin-left: 12px;
    width: 44px;
    color: white;
    font-family: "MolotRegular", Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}
div.board-small.blue {
    background-image: url('../config/images/item_blue.png');
}
div.board-small.violet {
    background-image: url('../config/images/item_violet.png');
}
div.board-small.x2 {
    background-image: url('../config/images/item_x2.png');
}
div.board-small.x {
    background-image: url('../config/images/item_x.png');
}
div.board-small.x2 span,
div.board-small.x span,
div.board-finish span{
    display: none;
}
div.board-small.yellow {
    background-image: url('../config/images/item_yellow.png');
}
div.board-start {
    position: absolute;
    top: 462px;
    left: 25px;
    background: url('../config/images/item_up.png') 0 0 no-repeat;
    width: 77px;
    height: 73px;
    background-size: cover;
}
div.board-finish {
    position: absolute;
    top: 185px;
    left: 170px;
    background: url('../config/images/item_star.png') 0 0 no-repeat;
    width: 131px;
    height: 91px;
    background-size: cover;
}
div.card-stack {
    position: absolute;
    top: 275px;
    left: 450px;
}
div.card-stack div {
    position: absolute;
    background: url('../config/images/question_flat.png') 0 0 no-repeat;
    width: 106px;
    height: 143px;
}
div.card-stack div.card0 {

}
div.card-stack div.card1 {
    margin-left: 2px;
    -moz-transform:    rotate(-2deg);
    -o-transform:      rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform:         rotate(-2deg);
}
div.card-stack div.card2 {
    margin-left: 4px;
    -moz-transform:    rotate(-4deg);
    -o-transform:      rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform:         rotate(-4deg);
}
div.card-stack div.card3 {
    margin-left: 6px;
    -moz-transform:    rotate(-6deg);
    -o-transform:      rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    transform:         rotate(-6deg);
}
div.card-stack div.card4 {
    margin-left: 8px;
    -moz-transform:    rotate(-8deg);
    -o-transform:      rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform:         rotate(-8deg);
}
div.card-stack div.card-question {
    cursor: pointer;
    display: none;
    position: absolute;
    background: url('../config/images/question.png') 0 0 no-repeat;
    width: 126px;
    height: 167px;
    margin-left: -15px;
    margin-top: -10px;
}
div.card-stack.active.in_hover div.card-question {
    display: block;
    cursor: pointer;
}
div.card-stack {
    opacity: 0.5;
}
div.card-stack.active {
    opacity: 1;
    cursor: pointer;
}

div.board div.dice {
    position: absolute;
    background: url('../config/images/dice.png') 0 0 no-repeat;
    width: 75px;
    height: 75px;
    top: 305px;
    left: 300px;
    opacity: 0.5;
}
div.board div.dice.needsrolling {
    cursor: pointer;
    opacity: 1;
}
div.board div.dice.r0,
div.board div.dice.r1,
div.board div.dice.r2,
div.board div.dice.r3 {
    background: url('../config/images/dice_blue.png') 0 0 no-repeat;
    cursor: pointer;
    opacity: 1;
}
div.board div.dice.r1 {
    -moz-transform:    rotate(-45deg);
    -o-transform:      rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform:         rotate(-45deg);
}
div.board div.dice.r2 {
    -moz-transform:    rotate(-90deg);
    -o-transform:      rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform:         rotate(-90deg);
}
div.board div.dice.r3 {
    -moz-transform:    rotate(45deg);
    -o-transform:      rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform:         rotate(45deg);
}

div.board div.dice div {
    position: absolute;
    background: url('../config/images/dice_dot.png') 0 0 no-repeat;
    width: 15px;
    height: 15px;
}
div.card-stack div.marker {
    display: none;
}
div.card-stack.active div.marker,
div.board div.dice.needsrolling div.marker {
    position: absolute;
    background: url('../config/images/arrow.png') 0 0 no-repeat;
    width: 30px;
    height: 50px;
    display: block !important;
    top: 35px;
    left: 35px;
    background-size: cover;
}
div.card-stack.active div.marker {
    top: 70px;
    left: 50px;
}
div.card-stack.active div.marker div,
div.board div.dice div.marker div {
    display: block !important;
    background: url('../config/images/focus.png') 0 0 no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
}

/* dice-1 */
div.board div.dice.dice-1 div {
    display: none;
}
div.board div.dice.dice-1 div.d3 {
    display: block;
    left: 30px;
    top: 30px;
}

/* dice-2 */
div.board div.dice.dice-2 div {
    display: none;
}
div.board div.dice.dice-2 div.d1 {
    display: block;
    left: 10px;
    top: 10px;
}
div.board div.dice.dice-2 div.d2 {
    display: block;
    left: 50px;
    top: 50px;
}

/* dice-3 */
div.board div.dice.dice-3 div {
    display: none;
}
div.board div.dice.dice-3 div.d1 {
    display: block;
    left: 10px;
    top: 10px;
}
div.board div.dice.dice-3 div.d2 {
    display: block;
    left: 50px;
    top: 50px;
}
div.board div.dice.dice-3 div.d3 {
    display: block;
    left: 30px;
    top: 30px;
}

/* dice-4 */
div.board div.dice.dice-4 div {
    display: none;
}
div.board div.dice.dice-4 div.d1 {
    display: block;
    left: 10px;
    top: 10px;
}
div.board div.dice.dice-4 div.d2 {
    display: block;
    left: 50px;
    top: 50px;
}
div.board div.dice.dice-4 div.d3 {
    display: block;
    left: 10px;
    top: 50px;
}
div.board div.dice.dice-4 div.d4 {
    display: block;
    left: 50px;
    top: 10px;
}

/* dice-5 */
div.board div.dice.dice-5 div {
    display: none;
}
div.board div.dice.dice-5 div.d1 {
    display: block;
    left: 10px;
    top: 10px;
}
div.board div.dice.dice-5 div.d2 {
    display: block;
    left: 50px;
    top: 50px;
}
div.board div.dice.dice-5 div.d3 {
    display: block;
    left: 10px;
    top: 50px;
}
div.board div.dice.dice-5 div.d4 {
    display: block;
    left: 50px;
    top: 10px;
}
div.board div.dice.dice-5 div.d5 {
    display: block;
    left: 30px;
    top: 30px;
}

/* dice-6 */
div.board div.dice.dice-6 div {
    display: none;
}
div.board div.dice.dice-6 div.d1 {
    display: block;
    left: 10px;
    top: 10px;
}
div.board div.dice.dice-6 div.d2 {
    display: block;
    left: 50px;
    top: 50px;
}
div.board div.dice.dice-6 div.d3 {
    display: block;
    left: 10px;
    top: 50px;
}
div.board div.dice.dice-6 div.d4 {
    display: block;
    left: 50px;
    top: 10px;
}
div.board div.dice.dice-6 div.d5 {
    display: block;
    left: 10px;
    top: 30px;
}
div.board div.dice.dice-6 div.d6 {
    display: block;
    left: 50px;
    top: 30px;
}
.lose_panel{
    display: none;
}

div.lose .lose_panel{
    display: block;
}


.choose-racer {
    text-align: center;
}
.choose-racer .racer-variant {
    display: inline-block;
}
span.racer {
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;
}
.racer-variant {
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.racer-variant div.marker {
    position: relative;
}
.racer-variant div.marker div {
    background: url('../config/images/focus.png') 0 0 no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
}


.game>div {
    position: relative;
    z-index: 3;
}

.vertical .question-choose-wrapper,
.vertical .question-answered-block-wrapper,
.vertical .question-block-wrapper {
    overflow: hidden;
    width: 557px;
    margin-left: 10px;
}
.vertical .question-choose-wrapper,
.vertical .question-answered-block-wrapper {
    width: 689px;
}

.result-block-wrapper {
    margin-top: 0;
}

body.gamebody {
    margin: 0 auto;
    width: 720px;
    height: 540px;
    /*padding: 50px;
    padding-top: 0px;*/
}
div.time {
    z-index: 4;
}
.step-4.answered .question-choose-wrapper {
    z-index: 10;
}
div.game div.board div.racer-variant {
    cursor: default;
}

div.game.step-4 div.question-block-wrapper-bg{
    position: absolute;
    display: block;
    width: 720px;
    height: 540px;
    background-color: black;
    opacity: 0.6;
}
.lose_panel span{
    display: block;
    font-weight: bold;
    font-size: 100px;
    margin-top: -20px;
}




//layout!

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: lightgrey;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

ul#handCards li {
    display:inline;
}

//Maps

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}
.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}
.jvectormap-zoomin {
    top: 10px;
}
.jvectormap-zoomout {
    top: 30px;
}
#boardmap {
    width: 100%;
    height: 500px;
}

